[run]
include =
  pytest_django/*
  pytest_django_test/*
  tests/*
  */lib/python*/site-packages/pytest_django/*
  */pypy*/site-packages/pytest_django/*
  *\Lib\site-packages\pytest_django\*
parallel = 1
branch = 1

[paths]
source = pytest_django/
  */lib/python*/site-packages/pytest_django/
  */pypy*/site-packages/pytest_django/
  *\Lib\site-packages\pytest_django\

[report]
skip_covered = 1
