language: python

python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "pypy"

# Django 1.3 is only compatible with psycopg2 version <= 2.4.1
# Django 1.4 is compatible with newer versions
env:
  - DB=sqlite DJANGO_VERSION=1.3.5 PSYCOPG_VERSION=2.4.1
  - DB=sqlite DJANGO_VERSION=1.4.3 PSYCOPG_VERSION=2.4.5
  - DB=sqlite DJANGO_VERSION=1.5.2 PSYCOPG_VERSION=2.4.5
  - DB=sqlite DJANGO_VERSION=1.6.1 PSYCOPG_VERSION=2.4.5

  - DB=mysql DJANGO_VERSION=1.3.5 PSYCOPG_VERSION=2.4.1
  - DB=mysql DJANGO_VERSION=1.4.3 PSYCOPG_VERSION=2.4.5
  - DB=mysql DJANGO_VERSION=1.5.2 PSYCOPG_VERSION=2.4.5
  - DB=mysql DJANGO_VERSION=1.6.1 PSYCOPG_VERSION=2.4.5

  - DB=postgres DJANGO_VERSION=1.3.5 PSYCOPG_VERSION=2.4.1
  - DB=postgres DJANGO_VERSION=1.4.3 PSYCOPG_VERSION=2.4.5
  - DB=postgres DJANGO_VERSION=1.5.2 PSYCOPG_VERSION=2.4.5
  - DB=postgres DJANGO_VERSION=1.6.1 PSYCOPG_VERSION=2.4.5

install:
  - pip install --use-mirrors pytest
  - pip install --use-mirrors django-configurations>=0.2.1
  - 'pip install django==$DJANGO_VERSION'
  - 'if [ "$TRAVIS_PYTHON_VERSION" == "pypy" -a "$DB" == postgres ]; then pip install psycopg2ct --use-mirrors; fi'
  - 'if [ "$TRAVIS_PYTHON_VERSION" != "pypy" -a "$DB" == postgres ]; then pip install psycopg2==$PSYCOPG_VERSION --use-mirrors; fi'
  - 'if [ "$DB" == mysql ]; then pip install mysql-python --use-mirrors; fi'
  - python setup.py develop

before_script:
  - psql -c 'create database pytest_django;' -U postgres
  - psql -c 'create database pytest_django_reuse;' -U postgres

  - mysql -e 'create database pytest_django;'
  - mysql -e 'create database pytest_django_reuse;'

script: py.test --ds=tests.settings_$DB


matrix:
  exclude:
    # pypy + postgres
    - python: pypy
      env: DB=postgres DJANGO_VERSION=1.3.5 PSYCOPG_VERSION=2.4.1
    - python: pypy
      env: DB=postgres DJANGO_VERSION=1.4.3 PSYCOPG_VERSION=2.4.5
    - python: pypy
      env: DB=postgres DJANGO_VERSION=1.5.2 PSYCOPG_VERSION=2.4.5
    - python: pypy
      env: DB=postgres DJANGO_VERSION=1.6b2 PSYCOPG_VERSION=2.4.5
    # pypy + mysql
    - python: pypy
      env: DB=mysql DJANGO_VERSION=1.3.5 PSYCOPG_VERSION=2.4.1
    - python: pypy
      env: DB=mysql DJANGO_VERSION=1.4.3 PSYCOPG_VERSION=2.4.5
    - python: pypy
      env: DB=mysql DJANGO_VERSION=1.5.2 PSYCOPG_VERSION=2.4.5
    # python 3.2 + django 1.3
    - python: "3.2"
      env: DB=sqlite DJANGO_VERSION=1.3.5 PSYCOPG_VERSION=2.4.1
    - python: "3.2"
      env: DB=mysql DJANGO_VERSION=1.3.5 PSYCOPG_VERSION=2.4.1
    - python: "3.2"
      env: DB=postgres DJANGO_VERSION=1.3.5 PSYCOPG_VERSION=2.4.1
    # python 3.2 + django 1.4
    - python: "3.2"
      env: DB=sqlite DJANGO_VERSION=1.4.3 PSYCOPG_VERSION=2.4.5
    - python: "3.2"
      env: DB=mysql DJANGO_VERSION=1.4.3 PSYCOPG_VERSION=2.4.5
    - python: "3.2"
      env: DB=postgres DJANGO_VERSION=1.4.3 PSYCOPG_VERSION=2.4.5
    # python 3.2 + mysql
    - python: "3.2"
      env: DB=mysql DJANGO_VERSION=1.5.2 PSYCOPG_VERSION=2.4.5
    - python: "3.2"
      env: DB=mysql DJANGO_VERSION=1.6b2 PSYCOPG_VERSION=2.4.5
    # python 3.3 + django 1.3
    - python: "3.3"
      env: DB=sqlite DJANGO_VERSION=1.3.5 PSYCOPG_VERSION=2.4.1
    - python: "3.3"
      env: DB=mysql DJANGO_VERSION=1.3.5 PSYCOPG_VERSION=2.4.1
    - python: "3.3"
      env: DB=postgres DJANGO_VERSION=1.3.5 PSYCOPG_VERSION=2.4.1
    # python 3.3 + django 1.4
    - python: "3.3"
      env: DB=sqlite DJANGO_VERSION=1.4.3 PSYCOPG_VERSION=2.4.5
    - python: "3.3"
      env: DB=mysql DJANGO_VERSION=1.4.3 PSYCOPG_VERSION=2.4.5
    - python: "3.3"
      env: DB=postgres DJANGO_VERSION=1.4.3 PSYCOPG_VERSION=2.4.5
    # python 3.3 + mysql
    - python: "3.3"
      env: DB=mysql DJANGO_VERSION=1.5.2 PSYCOPG_VERSION=2.4.5
    - python: "3.3"
      env: DB=mysql DJANGO_VERSION=1.6b2 PSYCOPG_VERSION=2.4.5
