include AUTHORS
include README.rst
include LICENSE

recursive-include test *

recursive-exclude pytest_django_test *
recursive-exclude .tox *
recursive-exclude bin *
recursive-exclude src *
recursive-exclude .git *
recursive-exclude bin *
recursive-exclude include *
recursive-exclude lib *
recursive-exclude share *
recursive-exclude src *
