include AUTHORS
include README.rst
include LICENSE

# Include tests for downstream testing (https://github.com/pytest-dev/pytest-django/issues/290).
recursive-include tests *.py *.txt
recursive-include pytest_django_test *.json *.py *.txt

recursive-exclude .git *
recursive-exclude .tox *
recursive-exclude bin *
recursive-exclude include *
recursive-exclude lib *
recursive-exclude share *
recursive-exclude src *
