name: deploy

on:
  push:
    tags:
      - "*"

# Set permissions at the job level.
permissions: {}

jobs:
  package:
    runs-on: ubuntu-24.04
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Build and Check Package
        uses: hynek/build-and-inspect-python-package@c52c3a4710070b50470d903818a7b25115dcd076  # v2.13.0

  deploy:
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags') && github.repository == 'pytest-dev/pytest-django'
    needs: [package]
    runs-on: ubuntu-24.04
    environment: deploy
    timeout-minutes: 15
    permissions:
      contents: read
      # For trusted publishing.
      id-token: write

    steps:
      - name: Download Package
        uses: actions/download-artifact@v6
        with:
          name: Packages
          path: dist

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
