name: main

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ci-main-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

env:
  PYTEST_ADDOPTS: "--color=yes"

# Set permissions at the job level.
permissions: {}

jobs:
  test:
    runs-on: ubuntu-24.04
    continue-on-error: ${{ matrix.allow_failure }}
    timeout-minutes: 15
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Setup mysql
        if: contains(matrix.name, 'mysql')
        run: |
          sudo systemctl start mysql.service
          echo "TEST_DB_USER=root" >> $GITHUB_ENV
          echo "TEST_DB_PASSWORD=root" >> $GITHUB_ENV

      - name: Setup postgresql
        if: contains(matrix.name, 'postgres')
        run: |
          sudo systemctl start postgresql.service
          sudo -u postgres createuser --createdb $USER

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox==4.11.1

      - name: Run tox
        run: tox -e ${{ matrix.name }}

      - name: Report coverage
        if: contains(matrix.name, 'coverage')
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

    strategy:
      fail-fast: false
      matrix:
        include:
        - name: linting,docs
          python: '3.13'
          allow_failure: false

        - name: py313-dj52-postgres-xdist-coverage
          python: '3.13'
          allow_failure: false

        - name: py313-dj51-postgres-xdist-coverage
          python: '3.13'
          allow_failure: false

        - name: py312-dj42-postgres-xdist-coverage
          python: '3.12'
          allow_failure: false

        - name: py311-dj50-postgres-xdist-coverage
          python: '3.11'
          allow_failure: false

        - name: py311-dj42-postgres-xdist-coverage
          python: '3.11'
          allow_failure: false

        - name: py310-dj52-postgres-xdist-coverage
          python: '3.10'
          allow_failure: false

        - name: py310-dj51-postgres-xdist-coverage
          python: '3.10'
          allow_failure: false

        - name: py310-dj42-postgres-xdist-coverage
          python: '3.10'
          allow_failure: false

        - name: py311-dj51-mysql-coverage
          python: '3.11'
          allow_failure: false

        - name: py310-dj42-mysql-coverage
          python: '3.10'
          allow_failure: false

        - name: py39-dj42-mysql-xdist-coverage
          python: '3.9'
          allow_failure: false

        - name: py313-djmain-sqlite-coverage
          python: '3.13'
          allow_failure: true

        - name: py313-dj52-sqlite-coverage
          python: '3.13'
          allow_failure: true

        - name: py312-dj51-sqlite-xdist-coverage
          python: '3.12'
          allow_failure: false

        - name: py311-dj42-sqlite-xdist-coverage
          python: '3.11'
          allow_failure: false

        - name: py38-dj42-sqlite-xdist-coverage
          python: '3.8'
          allow_failure: false

        # Explicitly test min pytest.
        - name: py38-dj42-sqlite-pytestmin-coverage
          python: '3.8'
          allow_failure: false

        # pypy3: not included with coverage reports (much slower then).
        - name: pypy3-dj42-postgres
          python: 'pypy3.9'
          allow_failure: false

  check:  # This job does nothing and is only used for the branch protection
    if: always()

    needs:
    - test

    runs-on: ubuntu-24.04

    steps:
    - name: Decide whether the needed jobs succeeded or failed
      uses: re-actors/alls-green@223e4bb7a751b91f43eda76992bcfbf23b8b0302
      with:
        jobs: ${{ toJSON(needs) }}
